@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="appTitle">
        <h1 id="appTitle">Assignment 3 - Juan Castelblanco</h1>
        <p class="lead">Add Tracks and Edit Playlist with Associations many to many, Item Selection, Bootstrap, and Attribute Routing.</p>
    </section>

    <div class="row mt-5">
        <section class="col-md-6" aria-labelledby="whatILearned">
            <h2 id="whatILearned">I learned ...</h2>
            <p>I learned how to manipulate data in this case using Tracks with a new way of associating the data using many to many and thus I was able to add a new track with the respective Album and Mediatype in addition to learning to be able to edit within the playlist using MultiSelectList where I was able to add or remove tracks within the same playlist.</p>
        </section>
        <section class="col-md-6" aria-labelledby="whatIStruggledWith">
            <h2 id="whatIStruggledWith">I struggled with ...</h2>
            <p>I had a problem at the beginning using the CodeTemplates folder where it wouldn't let me Scaffold the views and gave me an execution error, after debugging I realized that the files inside the folder were "Locked" and I had to go into the properties to be able to unlock them and that took me a long time, then doing the project I had a lot of confusion with the association of the data and I had to look at the Class Designer to understand how the data went from one place to another</p>
        </section>
    </div>
</main>